body {background-color: #2d2c47;}
.logo {display: block;
width: 25%;
}

.tom, .Daisy, .LULU, .King {
    
        width: 400px;
        height: 400px;
        padding: 5px;
        border-radius: 20%;

background-color: black;

}

.band {  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}

    footer{
        color: white;
    }